<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.CarSpaceMapper">
    <!-- 定义 resultMap 用于映射 CarSpace 实体 -->
    <resultMap id="CarSpaceResultMap" type="com.springboot.entity.CarSpace">
        <id property="id" column="id"/>
        <result property="spaceNumber" column="space_number"/>
        <result property="status" column="status"/>
        <result property="licensePlate" column="license_plate"/>
        <result property="ownerId" column="owner_id"/>
        <result column="ownerName" property="ownerName" />
<!--        <association property="user" javaType="com.springboot.entity.User">-->
<!--            <id property="id" column="owner_id"/>-->
<!--            <result property="name" column="owner_name"/>-->
<!--        </association>-->
    </resultMap>

    <!-- 查询所有车位信息 -->
    <select id="findAllName" resultType="com.springboot.entity.CarSpace">
--         SELECT * FROM car_space
    select car_space.*,user.name AS ownerName
    from car_space
         left join user on car_space.owner_id=user.id
    </select>

    <select id="findAll" resultType="com.springboot.entity.CarSpace">
--                 SELECT * FROM car_space
                select car_space.*,user.name AS ownerName
                from car_space
                left join user on car_space.owner_id=user.id

    </select>


    <!-- 根据 ID 查询车位信息 -->
    <select id="findById" resultType="com.springboot.entity.CarSpace">
--         SELECT * FROM car_space WHERE id = #{id}
select car_space.*, user.name AS ownerName
from car_space
         left join user on car_space.owner_id = user.id
where car_space.id = #{id}
    </select>

    <!-- 添加车位信息 -->
<!--    <insert id="save" parameterType="com.springboot.entity.CarSpace">-->
<!--        INSERT INTO car_space (space_number, status, license_plate, owner_id)-->
<!--        VALUES (#{spaceNumber}, #{status}, #{licensePlate}, #{user.id})-->
<!--    </insert>-->

    <!-- 更新车位信息 -->
<!--    <update id="update" parameterType="com.springboot.entity.CarSpace">-->
<!--        UPDATE car_space-->
<!--        SET space_number = #{spaceNumber},-->
<!--            status = #{status},-->
<!--            license_plate = #{licensePlate},-->
<!--            owner_id = #{user.id}-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

    <!-- 根据 ID 删除车位信息 -->
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM car_space WHERE id = #{id}
    </delete>

    <!-- 根据业主 ID 查询车位信息 -->
    <select id="findByOwnerId" resultType="com.springboot.entity.CarSpace">
        select car_space.*, user.name AS ownerName
        from car_space
        left join user on car_space.owner_id = user.id
        where car_space.owner_id = #{ownerId}
    </select>

    <select id="findbySearch" resultType="com.springboot.entity.CarSpace">
        --         select * from payment
        select car_space.*, user.name AS ownerName
        from car_space
        left join user on car_space.owner_id = user.id
        <where>
            <if test="params!=null and params.name!=null and params.name!=''">
                and `user`.`name` like concat('%',#{params.name},'%')
            </if>
        </where>
    </select>

</mapper>